import /system/etc/init/init.safailnet.rc

on init
    setprop sys.usb.ffs.aio_compat 1

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6765 /vendor/etc/fstab.mt6765 bind

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

service ktweak /vendor/bin/sh /system/etc/init/ktweak.sh
    class late_start
    disabled
    user root
    group system
    oneshot

on charger
    # Turn backlight on and switch to backlight trigger
    write /sys/class/leds/lcd-backlight/brightness "1000"
    write /sys/class/leds/lcd-backlight/trigger "backlight"

    write /proc/hps/enabled 0
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu7/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu4/online 0

    write /sys/power/pm_async 0

on post-fs
    # Override vendor fstab again because things like Magisk will re-bind /vendor
    mount none /system/etc/fstab.mt6765 /vendor/etc/fstab.mt6765 bind

    # Disable OEM Lights
    mount none /dev/null vendor/lib/hw/lights.mt6765.so bind
    mount none /dev/null vendor/lib/hw/android.hardware.light@2.0-impl-mediatek.so bind
    mount none /dev/null vendor/bin/hw/android.hardware.light@2.0-service-mediatek bind
    mount none /dev/null vendor/lib64/hw/lights.mt6765.so bind
    mount none /dev/null vendor/lib64/hw/android.hardware.light@2.0-impl-mediatek.so bind
    mount none /dev/null vendor/etc/init/android.hardware.light@2.0-service-mediatek.rc bind

on property:sys.boot_completed=1
    start ktweak
